main form {
    button[type="submit"],
    button.next {
        margin: 0 0 0 auto;
    }

    input[type="file"] {
        clip: rect(0 0 0 0);
        clip-path: inset(50%);
        height: 1;
        overflow: hidden;
        position: absolute;
        bottom: 0;
        left: 0;
        white-space: nowrap;
        width: 1;
    }

    .attachment-card {
        display: flex;
        flex-wrap: wrap;
        padding: 16px;

        img{
            width: auto;
            border-radius: 4px;
        }

        .label {
            align-self: center;
            padding: 0 16px;
        }
    }
}
